html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.p-header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: url('../assets/images/headerbg.png') no-repeat;
  background-size: 100% 100%;
  z-index: 999;
  position: fixed;
  text-align: center;
  color: #fff;
  font-size: 24px;
  letter-spacing: 3px;
  user-select: none;
}
#map-container {
  width: 100%;
  height: 100%;
}
#coordinate {
  position: absolute;
  left: 150px;
  bottom: 5px;
  z-index: 999;
  font-size: 12px;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2px 10px;
  border-radius: 3px;
  color: #333333;
}
.nav-list {
  position: absolute;
  top: 20px;
  left: 5px;
  width: 150px;
  height: auto;
  min-height: 200px;
  background-color: #fff;
  border-radius: 5px;
  z-index: 999;
  padding: 10px;
}
.nav-list .title {
  width: 100%;
  height: 25px;
  border-bottom: 1px solid #ccc;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
.nav-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  user-select: none;
}
.nav-list ul li {
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
  color: #0c82d0;
}
.nav-list ul li:hover {
  text-decoration: underline;
}
.heat-map-tool {
  position: absolute;
  bottom: 250px;
  right: 5px;
  width: 200px;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  z-index: 999;
  padding: 10px;
}
.heat-map-tool .title {
  width: 100%;
  height: 25px;
  border-bottom: 1px solid #ccc;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
.heat-map-tool label {
  display: block;
  margin-top: 10px;
}
.heat-map-tool label span {
  font-size: 14px;
}
.heat-map-tool label select {
  width: 150px;
  height: 25px;
  cursor: pointer;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 3px;
}
.heat-map-tool .submit,
.heat-map-tool .clear {
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 3px;
  height: 25px;
  color: #fff;
}
.heat-map-tool .submit {
  background-color: #2c8ebb;
}
.heat-map-tool .submit:active {
  background-color: #3b99c5;
}
.heat-map-tool .clear {
  background-color: #f55656;
}
.heat-map-tool .clear:active {
  background-color: #f76464;
}
.temperature-inversion {
  position: absolute;
  bottom: 250px;
  right: 5px;
  width: 200px;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  z-index: 999;
  padding: 10px;
}
.temperature-inversion .title {
  width: 100%;
  height: 25px;
  border-bottom: 1px solid #ccc;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
.temperature-inversion label {
  display: block;
  margin-top: 10px;
}
.temperature-inversion label span {
  font-size: 14px;
}
.temperature-inversion label select {
  width: 150px;
  height: 25px;
  cursor: pointer;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 3px;
}
.temperature-inversion .submit,
.temperature-inversion .clear {
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 3px;
  height: 25px;
  color: #fff;
}
.temperature-inversion .submit {
  background-color: #2c8ebb;
}
.temperature-inversion .submit:active {
  background-color: #3b99c5;
}
.temperature-inversion .clear {
  background-color: #f55656;
}
.temperature-inversion .clear:active {
  background-color: #f76464;
}
